<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<style>
.no {
  opacity: 0.25;
  outline: 5px solid red;
  outline-offset: -5px;
}
body {
  background-color: #222222;
  color: white;
}
.fl {
  position: fixed;
  left: 200px;
  font-size: 25px;
}
</style>
<body>
<div class="fl"><p id="status">Synced</p></div>
<a style="color:white" href="#" id="clear">Clear</a>
<a style="color:white" href="#" id="hide">Hide unselected</a></br>
<p id='folder' style='display:none;'>Daniel_Craig</p>
<div style="width:1000px">
{{imgs | safe}}
</div>
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>

